<form method="post">
    <div class="form-group">
        <label for="message">{{#str}}message{{/str}}</label>
        <input type="text" name="message" id="message" class="form-control" value="{{message}}" required>
    </div>
    <button type="submit" class="btn btn-primary">{{#str}}submit{{/str}}</button>
</form>
